* {
   box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;

}

.wrapper{
    width: 100vw;
    height: 100vh;
    padding: 100px;
    background-color: sandybrown;
}

.lake {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    height: 100%;
    border-radius: 50px;
    background-color: aqua;

}

.duck{
    background-color: azure;
}

.duck.dead{
    opacity: .5;
    animation: resize 150ms ease-in-out 0ms;
}

@keyframes resize {
    0% { transform: scale(1);}
    50% { transform: scale(1.5);}
    100% { transform: scale(1);}
}

.score{
    font-family: "Arial Black";
    font-size: 20px;
    font-weight: bold;
}